nav{
    top: 0;
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.08);
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 35px 0 0;
    background-color: none;
    
}

nav .navbar-collapse.collapse{
    display: block;
}
.nav-item:hover{
    color: blue;

}
#click:hover{
    color: blue;
}

.nav-item .nav-link .navbar-nav:hover{
color: blue;
}




@media (max-width: 991px){
    nav .navbar-collapse.collapse{
        overflow: hidden;
        justify-content: center;
        display: flex;
        padding-right: 30%;
        text-align: center;
    }

    nav .navbar-collapse.collapse:hover{
        background-color: var(#0000ff) !important;
    }
    nav .navbar-collapse.active{
        height: 80vh !important;
    }
    #sign{
        display: none;
    }
    #click{
        margin-left: 80%;
    }
    .nav-link{
        color: #0000ff !important;
        font-size: 2rem;
    }
        

}
nav .navbar-collapse{
    transition: .6s all ease-in-out;
    height: 0 !important;
    background-color: var(#0000ff) !important;
}
